.colleague__filter__input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: none;
  box-shadow: var(--drop-shadow);
  font-size: large;

  &:focus-visible {
    outline: var(--focus-outline);
    outline-offset: 1px;
  }
}
