@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&family=Noto+Sans+Mono:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--faded-green);
  color: var(--text-black);
  font-family: 'Gabarito', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 {
  margin-top: 0;
}

input {
  font-family: inherit;
}
